/* This is the CSS file */

body {
 
/* background-color:#5d8561; */
}

h2 {
  color: #31572c;
}

.hero-banner {
    height: 350px;
    object-fit: cover;
    width: 100%;
}


/* For button "Learn More" on bottom first page */
.btn-outline-dark {
  border-color: #31572c;
  color: #31572c;
}
/* For button "Learn More" on bottom of first page when its hovered */
.btn-outline-dark:hover {
  background-color: #31572c;
  color: #FFFFFF;
}

/* Navigation Colour */
.nav-link {
    color: #31572c;
    font-weight: 500;
}
.nav-link:hover {
    color: #1a3c1a;
}

/* Form */
.pledge-result {
  margin-top: 1rem;
  font-weight: 500;
  color: #31572c;
}



