/* This is the CSS file */

body {
 
}

h2 {
  color: #31572c;
}

.hero-banner {
    height: 350px;
    object-fit: cover;
    width: 100%;
}


/* For button "Learn More" on bottom first page */
.btn-outline-dark {
  border-color: #31572c;
  color: #31572c;
}
/* For button "Learn More" on bottom of first page when its hovered */
.btn-outline-dark:hover {
  background-color: #31572c;
  color: #FFFFFF;
}